/* variables*/
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --gray: #898c8b;
  --font-size: 1.3 rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1, /*agregar insta video de ro vs kid*/
h2,
h3 {
  margin: 0;
}
a {
  color: var(--magenta);
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

/*star NavBar design*/
nav {
  font-family: var(--mono);
  font-size: 1rem;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav a {
  color: var(--White);
  text-decoration: none;
  display: block;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
.io {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chip {
  margin-top: 4px;
  width: 40px;
}
img {
  width: 20px;
  filter: invert();
}
img:hover {
  filter: brightness();
  transition: filter 0.5s ease;
}
.links {
  cursor: pointer;
}

.res-btn {
  background-color: var(--magenta);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  color: var(--white);
}
.res-btn:hover {
  background-color: var(--hotmag);
}

/*end NavBar design*/

/*star introduction design*/
.introduction {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: auto;
}
.introduction p {
  font-size: 1rem;
  line-height: 1.5;
}
.introduction .name {
  font-family: var(--mono);
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}
.introduction h2 {
  font-size: 4rem;
  font-weight: normal;
}

/*Star projects section design*/
.Wall-of-wonder {
  padding: 4rem 1rem 10rem 1rem;
  background-color: var(--dkblue);
}
.Wall-of-wonder h3 {
  font-size: 40px;
}
.Wall-of-wonder h4 {
  font-size: 30px;
  margin-top: 10px;
}

/*End projects section design*/

/*end introduction design*/

/*star contact design*/
.contact {
  background-color: var(--plum);
  padding-bottom: 10rem;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
}
/*end contact design*/

/*star footer design*/

.footer {
  padding-top: 1rem;
  text-align: center;
}
.footer h2 {
  margin-bottom: 1rem;
}
.footer div a {
  color: none;
  background-color: none;
}
.img-container img {
  filter: invert();
  margin: 1rem;
  width: 35px;
}

/*end footer design*/

/*

#ff17e4  and #86bfbf
*/

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

/*responsive navBar*/
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
